<?xml version="1.0" encoding="UTF-8"?>
<openremote>
  <buttons>
<% for (var index in openremote.buttons.button) {%>
<% var btn = openremote.buttons.button[index];%>
    <button id="<%= btn.id%>">
	<% for (var index in btn.event) { %>
		<event><%= btn.event[index] %></event>
	<% } %>
    </button>
<% } %>
  </buttons>
  <events>
	<% var events = openremote.events; %>
    <irEvents>
	   <% for (var index in events.irEvents.irEvent) {%>
		<% var irEvent = events.irEvents.irEvent[index]; %>
      <irEvent id="<%=irEvent.id  %>" name="<%=irEvent.name %>" command="<%=irEvent.command %>"/>
		<% } %>
    </irEvents>
    <knxEvents>
		  <% for (var index in events.knxEvents.knxEvent) {%>
			<% var knxEvent = events.knxEvents.knxEvent[index]; %>
				<knxEvent id="<%=knxEvent.id  %>" label="<%=knxEvent.label  %>" groupAddress="<%=knxEvent.groupAddress  %>"/>
			<% } %>
    </knxEvents>
    <x10Events>
		 <% for (var index in events.x10Events.x10Event) {%>
			<% var x10Event = events.x10Events.x10Event[index]; %>
	      	<x10Event id="<%=x10Event.id %>" label="<%=x10Event.label %>" address="<%=x10Event.address %>" command="<%=x10Event.command %>"/>
		<% } %>
    </x10Events>
  </events>
</openremote>